parameters:
    level: 8
    paths:
        - src
    scanFiles:
        - phpstan-stubs/MailDataSimulator.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        # StringTemplateRenderer: Will be internal in v6.8.0
        -
            identifier: method.deprecatedClass
            message: "#StringTemplateRenderer#"
        # EntitySearchResult: class hierarchy changes in v6.8.0, getEntities() stays available
        -
            identifier: method.deprecatedClass
            message: "#Call to method getEntities\\(\\) of deprecated class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Search\\\\EntitySearchResult#"
    excludePaths:
        - vendor (?)
